/*div span {
    color: #ff0000;
}
p, div {
    display: block;
}
p span {
    color: #0000ff;
}
div:hover span {
    display: inline;
}
div span {
    display: none;
}
div span:hover, p span:hover {
    color: pink;
} 
a {
    color: red;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: blue;
}
a:visited {
    color: green;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}*/
img {
    float: right;
    height: 100px;
    width: 100px;
    padding: 20px;
    background-color: red;
    margin: 20px;
}

.pozicije {
    height: 100px;
    width: 100px;
    background-color: #006400;
    position: absolute;
    top: 10px;
    left: 10px;
}
.page {
    width: 500px;
    margin: 0 auto;
    position: relative;
}